#cover {
  width: 105%;
  height: 100vh;
  background-color: #e8e8e8;
  position: fixed;
  transition: height 0.5s ease-in-out, background-color 0.2s;

  z-index: 10;
}

#loader {
  transition: opacity 0.2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leaderboardHeader {
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s;
  opacity: 0;
  height: 40vh;
}

.topBar {
  width: 92.857143%;
  background-color: var(--color1);
  flex: 1;
  padding: 1.75vh 0;
  font-size: 2.5vw;
  display: flex;
  position: fixed;
  z-index: 2;
}
.leaderboardTitle {
  background-color: "#E8E8E8";
  flex: 3.5;
  display: flex;
}

.leaderboards {
  flex: 2;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.4s;
}

.leaderboardItem {
  height: 4.5vh;
  display: flex;
  background-color: var(--color2Dimmed);
  text-shadow: 0px 0px 5px black;
  padding-top: 1.2vh;
  font-size: 1.5vw;
  border: 0.2vh solid black;
}
.leaderboardSpacing {
  flex: 0.5;
}
.leaderboardRank {
  flex: 0.5;
  color: white;
}
.leaderboardName {
  flex: 2;
}
.leaderboardStars {
  flex: 0.8;
  color: black;
  text-shadow: 0px 0px 5px gray;
}
.leaderboardFKDR {
  flex: 0.8;
  color: black;
  text-shadow: 0px 0px 5px gray;
}
.leaderboardBBLR {
  flex: 0.8;
  color: black;
  text-shadow: 0px 0px 5px gray;
}
.leaderboardWinP {
  flex: 0.8;
  color: black;
  text-shadow: 0px 0px 5px gray;
}
.leaderboardScore {
  flex: 1;
  color: black;
  text-shadow: 0px 0px 5px gray;
}
.barText {
  margin-top: 1vh;
  font-size: 3vw;
  flex: 1;
  display: flex;
  justify-content: center;
}
.filter {
  flex: 1;
  display: flex;
}
.filterText {
  padding-top: 1.5vh;
  font-size: 2.7vw;
  flex: 1;
  margin-right: 1vw;
  display: flex;
  justify-content: right;
}
#filter {
  width: 17vw;
  height: 6.5vh;
  background-color: white;
  border: 0px;
  border-radius: 1vw;
  font-size: 2.5vw;
  margin-top: 1vh;
  padding-top: 0.2vh;
  padding-left: 0.8vw;
}
option {
  font-size: 2vw;
}
.filterSpacing {
  flex: 0.5;
}
select {
  font-family: "Bahnschrift";
}
#titleDiv {
  margin: auto;
  margin-top: 22vh;
  font-size: 4vw;
}
#sortType {
  width: 15vw;
  height: 4vw;
  position: relative;
  border: none;
  border-radius: 1vw;
  top: -0.5vh;
  padding-left: 1vw;
  font-size: 3vw;
  z-index: 1;
}
