@font-face {
  font-family: bahnschrift;
  src: url(../fonts/BAHNSCHRIFT\ 1.TTF);
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}
input {
  box-sizing: border-box;
  font-family: "Bahnschrift";
  width: 90%;
  height: calc(50% + 2vh);
  font-size: 2vw;
  padding-left: 1vw;
}
select {
  box-sizing: border-box;
  font-family: "Bahnschrift";
  width: 90%;
  height: calc(50% + 2vh);
  font-size: 2vw;
  padding-left: 1vw;
}
body {
  margin: 0;
  top: 0;
  font-family: "bahnschrift";
  overflow-x: hidden;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  user-select: none;
}

.mainContent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex: 1;
  align-items: left;
}
.cover {
  background-color: #e8e8e8;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: width 0.75s ease-in-out, opacity 0.5s;
  z-index: 10000;
}
.navBar {
  width: 7.1428%;
  height: 100%;
  background-color: var(--navBar);
  box-shadow: 0 0 3.125em 0 var(--navBar);
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
}
.settingsContent {
  width: 92.8571429%;
  margin-left: 7.142857%;
}
.logoDiv {
  flex: 3;
}
.iconDiv {
  flex: 1;
  transition: all 0.2s ease-in-out;
}
.logo {
  max-width: 5.5vw;
  padding-top: 3vh;
  display: block;
  margin: auto;
}

.navIcon {
  max-width: 4vw;
  display: block;
  margin: auto;
  filter: drop-shadow(2px 2px 5px white) invert(1);
  padding-top: 3vh;
  font-size: 5.5vw;
  text-align: center;
}

.iconDiv:hover {
  background-color: #0099ff;
  cursor: pointer;
}

.iconDivError:hover {
  background-color: #ff0000;
  cursor: not-allowed;
}

.navText {
  transform: scale(1.2, 1);
}

.settingsItem {
  height: 10vh;
  width: 100%;
  display: flex;
  border-bottom: 2px solid var(--color3Dimmed);
}

.settingsSpace {
  height: 5vh;
  width: 100%;
}
.settingsHeader {
  height: 9vh;
  margin-top: 3vh;
  font-size: 8vh;
  padding-left: 5vw;
  width: 100%;
  color: var(--color3);
  border-bottom: 2px solid var(--color3Dimmed);
  text-shadow: 0 0 1vw var(--lowlight);
}

.settingsText {
  flex: 1;
  font-size: 2.5vw;
  margin: auto;
  padding-top: 2.5vh;
  padding-left: 10vw;
  height: 75%;
  color: var(--color5);
  text-shadow: 0 0 1vw var(--lowlight);
  background-color: var(--color1Dimmed);
}

.settingsEntry {
  flex: 1;
  padding-left: 25vw;
  padding-top: 2vh;
  background-image: linear-gradient(
    to right,
    var(--color1Dimmed),
    var(--color2Dimmed)
  );
  font-size: 2.8vw;
  display: flex;
}

.buttonDiv {
  height: 5vh;
  width: 100%;
  margin-top: 5vh;
  display: flex;
}
.cancelButton {
  flex: 1;
  background-color: #c4c4c4;
  border-radius: 1vh;
  color: black;
  text-shadow: 0px 0px 5px var(--highlight);
  text-align: center;
  padding-top: 2vh;
  font-size: 3vw;
  height: 8vh;
  cursor: pointer;
}

.saveButton {
  flex: 1;
  background-color: var(--color1);
  border-radius: 1vh;
  color: black;
  text-shadow: 0px 0px 5px var(--highlight);
  text-align: center;
  padding-top: 2vh;
  font-size: 3vw;
  height: 8vh;
  cursor: pointer;
}
.buttonSpacing {
  flex: 0.5;
}
.buttonBegSpacing {
  flex: 2;
}
#settingsHelp {
  right: -50vw;
  top: 5vh;
  width: 35%;
  font-size: 1.5vw;
  padding: 2.3vw;
  height: 10%;
  opacity: 0;
  position: fixed;
  background-image: linear-gradient(to right, #b6e5ffe6, #b6c1ffe6);
  color: var(--lowlight);
  border-radius: 2vw;
  transition: right 0.3s ease-in-out, opacity 0.3s;
}

.bold {
  font-weight: 900;
  text-shadow: 0px 0px 5px var(--highlight);
  color: red;
}
.settingsCollapsible {
  height: calc(10vh + 2px);
  overflow-y: hidden;
  transition: height 0.6s ease-in-out;
}

.hoverDetect {
  text-decoration: underline dotted;
}

.settingsCollapsible .buttonEntry {
  display: flex;
  justify-content: right;
  padding-left: 6vw;
  padding-right: 11vw;
}

.settingsCollapsible .initItem {
  cursor: pointer;
}

.initItem .settingsText {
  background-color: var(--color1);
}

.initItem .settingsEntry {
  background-image: linear-gradient(to right, var(--color1), var(--color2));
  color: var(--color5);
  text-shadow: 0 0 1vw var(--lowlight);
}
